

body{
    background-color: #083B4C;
}

.root{
    square-1: #1389B2;
    square-2: #0CD6A1;
    square-3: #FFD166;
}

.wrapper{
    width: 1000px;
    background-color: grey;
}

.square-dimension{
    width: 100px;
    height: 100px;
    border: 1px solid white;
}